<div class="card {{selected}}">
    <img class="card-avatar" src="{{this.avatar}}" alt="">
    <div class="card-info">
        <div class="card-msg">
            <h5>{{this.name}}</h5>
            <p class="card-msg__text">{{this.message}}</p>
        </div>
        <div class="card__msg-details">
            <span class="card__msg-details__msg-time">{{this.date}}</span>
            <span class="card__msg-details__msg_counter">{{this.count}}</span>
        </div>
    </div>
</div>